#outer-grid, #outer-grid > div{
    border: 1px solid black;
    display: grid;
}

#outer-grid {
    height: 97vh;
    width: 97vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#header{
   grid-column: 2 / 3;
   grid-template-columns: 3fr 2fr;
   grid-template-rows: 4fr 5fr;
}

#search-bar{
    grid-template-columns: 1fr 6fr;
}

#search-bar > div{
    border: 1px solid black;
}

#user{
    grid-row: 2 / 3;
    grid-template-columns: 1fr 4fr;
    grid-row: 1fr 2fr;
}

#user > div{
    border: 1px solid black;
}

#user-icon{
    grid-row: 1/3;
}

#user-buttons{
    grid-row: 1 / 3;
    grid-template-columns: 3fr 2fr 4fr;
    grid-template-rows: 1fr 1fr;
}

#user-buttons > div{
    border: 1px solid black;
}

#buttons{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#buttons > button{
    margin: 20px 10px 20px 10px ;
    border-radius: 30px;
}

#header > div{
    border: 1px solid black;
    display: grid;
}

#sidebar{
    grid-row: 1 / 3;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 4fr;
}

#dash-logo{
    grid-row: 1 / 2;
}

#nav-logo{
    grid-row: 2 / 3;
}

#settings-logo{
    grid-row: 3 / 4;
}

#sidebar > div{
    border: 1px solid black;
}

ul{
    list-style: none;
}

#main-content{
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 3fr;
}

#main-content > div{
    border: 1px solid black;
    display: grid;
}

#projects-content{
    grid-row: 2/5;
}

#content-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#content-cards > div{
    border: 1px solid black;
}

#announ-content{

}

#announ-content > div{
    border: 1px solid black;
}

#trend-content{

}

#trend-content > div{
    border: 1px solid black;
}

